<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dong.mingjiuzhang.mapper.AnswerLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dong.mingjiuzhang.domain.entity.AnswerLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="answer_id" property="answerId"/>
        <result column="subject_request_id" property="subjectRequestId"/>
        <result column="is_correct" property="isCorrect"/>
        <result column="is_wrong_collection" property="isWrongCollection"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, answer_id, subject_request_id, is_correct, is_wrong_collection, is_deleted, gmt_create, gmt_modified
    </sql>

    <select id="wrongCollectionList" resultType="java.util.List">
        SELECT l.id, d.subject_dict_name, f.subject_first_dict_name, s.subject_second_dict_name, c.subject_cate_name, l.gmt_create, r.type, r.title, r.title_image, r.request_option, r.answer, r.answer_image
        FROM t_answer_log l
        LEFT JOIN t_subject_request r ON l.subject_request_id = r.id
        LEFT JOIN t_subject_dict d ON r.subject_dict_id = d.id
        LEFT JOIN t_subject_first_dict f ON r.subject_first_dict_id = f.id
        LEFT JOIN t_subject_second_dict s ON r.subject_second_dict_id = s.id
        LEFT JOIN t_subject_cate c ON r.subject_cate_id = c.id
        WHERE l.is_deleted = 0 AND is_wrong_collection = 1
        AND l.user_id = #{wrongCollectionDTO.userId}
    </select>

</mapper>
