<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dong.mingjiuzhang.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dong.mingjiuzhang.domain.entity.Course">
        <id column="id" property="id"/>
        <result column="course_cate_id" property="courseCateId"/>
        <result column="course_series_id" property="courseSeriesId"/>
        <result column="is_payment" property="isPayment"/>
        <result column="course_price" property="coursePrice"/>
        <result column="video_url" property="videoUrl"/>
        <result column="course_name" property="courseName"/>
        <result column="gmt_start_show" property="gmtStartShow"/>
        <result column="gmt_end_show" property="gmtEndShow"/>
        <result column="synopsis" property="synopsis"/>
        <result column="sort" property="sort"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_cate_id, course_series_id, is_payment, course_price, video_url, course_name, gmt_start_show, gmt_end_show, synopsis, sort, is_deleted, gmt_create, gmt_modified
    </sql>

    <select id="courseWorkCount" resultType="com.dong.mingjiuzhang.domain.entity.vo.CourseWorkCountVO">
        SELECT c.id, c.course_cate_name, c.sort, COUNT(w.id)
        FROM t_course_cate c
        LEFT JOIN t_course_work w ON c.id = w.course_cate_id AND w.teacher_id = #{teacherId} AND w.status = 0
        WHERE c.is_deleted = 0
        GROUP BY c.id
        ORDER BY c.sort, c.id
    </select>

</mapper>
