<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dong.mingjiuzhang.mapper.OrderGroupUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dong.mingjiuzhang.domain.entity.OrderGroupUser">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="user_grade" property="userGrade" />
        <result column="send_type" property="sendType" />
        <result column="pay_status" property="payStatus" />
        <result column="status" property="status" />
        <result column="receiver_name" property="receiverName" />
        <result column="receiver_mobile" property="receiverMobile" />
        <result column="province_code" property="provinceCode" />
        <result column="province" property="province" />
        <result column="should_price" property="shouldPrice" />
        <result column="real_price" property="realPrice" />
        <result column="gmt_order_expiration" property="gmtOrderExpiration" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, user_id, user_grade, send_type, pay_status, status, receiver_name, receiver_mobile, province_code, province, should_price, real_price, gmt_order_expiration, is_deleted, gmt_create, gmt_modified
    </sql>

</mapper>
